<main class="desktop">
    <div class="system-icons-container">
        @for(item of desktopOptions(); track item.id) {
        <app-desktop-icon (itemSelected)="openWindow($event)" [style.gridColumn]="item.position?.gridColumn"
            [style.gridRow]="item.position?.gridRow" [item]="item"></app-desktop-icon>
        }

    </div>

    <div class="presentation-container">
        <h1 class="presentation-container__name">María yanguas <span class="job">Frontend developer</span></h1>
        <p class="presentation-container__tagline">Designing logic. Coding beauty.</p>
    </div>
    <app-dock-bar [items]="dockbarOptions()"></app-dock-bar>

    <div [style.position]="'absolute'">
        @for(window of openWindows(); track window.id) {
        <app-window [window]="window">
            @switch (window.id) {
            @case ('terminal') {
            <app-terminal></app-terminal>
            }
            }

        </app-window>
        }
    </div>


</main>