<main class="desktop">
    <div class="system-icons-container">
        @for(item of desktopOptions(); track item.id) {
        <app-desktop-icon (itemSelected)="openWindow($event)" [style.gridColumn]="item.position?.gridColumn"
            [style.gridRow]="item.position?.gridRow" [item]="item"></app-desktop-icon>
        }

    </div>
    <div class="widget">
        <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/playlist/3zm8w3YPu4Gz2XucUmHV37?utm_source=generator&theme=0"
            width="100%" height="152" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <div class="presentation-container">
        <h1 class="presentation-container__name">María yanguas <span class="job">Frontend developer</span></h1>
        <p class="presentation-container__tagline">Designing logic. Coding beauty.</p>
    </div>
    <app-dock-bar [items]="dockbarOptions()"></app-dock-bar>

    <div [style.position]="'absolute'">
        @for(window of openWindows(); track window.id) {
        <app-window [window]="window">
            <!-- <ng-container [ngSwitch]="window.id">
            <app-about-window *ngSwitchCase="'aboutMe'" />
            <app-projects-window *ngSwitchCase="'projects'" />
            <p *ngSwitchDefault>App no implementada aún</p>
        </ng-container> -->

        </app-window>
        }
    </div>


</main>