<div class="dock-bar-container">
    <div class="items-left-container">
        <div>
            @for(item of permanentItems(); track item.id) {
            <app-dock-icon (itemSelected)="openWindow($event)" [item]="item"></app-dock-icon>
            }
        </div>
        @if(temporaryItems()?.length) { <div class="divider"></div>}
        <div>
            @for(item of temporaryItems(); track item.id) {
            <app-dock-icon (itemSelected)="openWindow($event)" [item]="item"></app-dock-icon>
            }
        </div>
    </div>
    <p class="title">María Os</p>
    <div class="items-rignt-container">
        <div class="hour">
            {{time()}}
        </div>
    </div>
</div>