<!-- ICONO EN EL ESCRITORIO -->
@if (!item()?.inDockBar) {
<div class="app-container" cdkDrag (dblclick)="emitSelectedItem()" (mouseenter)="isHovered = true"
    (mouseleave)="isHovered = false">
    @if (item()?.isExternal) {
    <img class="icon" [src]="isHovered 
                ? './../../../assets/' + item()?.iconName + '-hover.svg' 
                : './../../../assets/' + item()?.iconName + '.svg'" [alt]="item()?.iconName" />
    } @else {
    <span class="material-symbols-outlined icon">
        {{ item()?.iconName }}
    </span>
    }
    <h2 class="title">{{ item()?.title }}</h2>
</div>
}

<!-- ICONO EN EL DOCK -->
@if (item()?.inDockBar || (!item()?.inDockBar && item()?.status === 'min')) {
<div class="app-container dock-icon" (click)="emitSelectedItem()" (mouseenter)="isHovered = true"
    (mouseleave)="isHovered = false" [matTooltip]="item()?.title">
    @if (item()?.isExternal) {
    <img class="icon" [src]="isHovered 
                ? './../../../assets/' + item()?.iconName + '-hover.svg' 
                : './../../../assets/' + item()?.iconName + '.svg'" [alt]="item()?.iconName" />
    } @else {
    <span class="material-symbols-outlined icon">
        {{ item()?.iconName }}
    </span>
    }
    @if (item()?.isOpen || item()?.status === 'min') {
    <div class="open-mark"></div>
    }
</div>
}